# Enviroments
venv/
__pycache__/
*.pyc

#API key
.env

# Folder vector DB
chroma_db/
vector_store/

# Raw data
data/raw/* 
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Chat history database
chat_history.db

# Export files
chat_export_*.pdf

#IDE files
.vscode/
.idea/